@import "../../assets/scss/vars";

.channel{
  box-sizing: border-box;
  width: 100%;
  min-height: 162px;
  display: grid;
  grid-template-columns: 33.89% 1fr;
  background-color: $lightColor;
  border-radius: 8px;
  padding: 21px 0 19px 0;
  &__logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{
    font-size: 20px;
    line-height: 23.7px;
    font-weight: 500;
    margin: 0 0 19px;
  }
  &__tvProgram{
    display: grid;
    gap: 13px;
    &Item{
      display: flex;
      letter-spacing: -0.06px;
      &.active{
        color: $primaryColor;
      }
    }
    &Time{
      margin: 0 21px 0 0;
    }
  }
}