@import "../../../assets/scss/vars";

.account{
  display: flex;
  justify-self: end;
  align-items: center;
  font-weight: 500;
  &__name{
    font-family: $mainFont;
    margin: 0 1px 0 0;
    cursor: pointer;
    padding: 3px 6px;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    border: none;
    width: 150px
  }
  &__btnLogout{
    border: none;
    background-color: transparent;
    color: $primaryColor;
    font-weight: bold;
    &:hover{
      color: $darkPrimaryColor;
    }
  }
}
@media all and (max-width: 576px){
  .account{
    justify-self: center;
  }
}