@import "../../../assets/scss/_vars.scss";

.search{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 200px;
  &__btn{
    color: $primaryColor;
    border: none;
    background-color: unset;
    outline: none;
    cursor: pointer;
    padding: 0 1px 0 0;
    height: min-content;
    font-weight: bold;
    margin: 0 0 0 32px;
    &:hover{
      color: $darkPrimaryColor;
    }
  }
}