.channelsPage{
  box-sizing: content-box;
  display: grid;
  width: 100%;
  min-height: 162px;
  gap: 16px 0;
  margin: 27px 0 60px 0;
  max-height: 708px;
  padding: 0 8px 0 0;
  overflow-y: scroll;
  overflow-x: visible;
}