// Fonts
$mainFont                : 'Rubik', Helvetica, Arial, sans-serif;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainFontColor           : rgba(51,51,51,1);
$mainLineHeight          : 18.96px;

// Main colors
$defaultColor           : rgba(51,51,51,1);
$primaryColor           : rgba(229,38,30,1);
$darkPrimaryColor       : rgba(204,34,27,1);
$whiteColor             : rgba(255,255,255,1);
$grayColor              : rgba(130,130,130,1);
$lightColor             : rgba(242,242,242,1);