@import "reset";
@import "vars";
@import "fonts";
@import "common";

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color: $mainFontColor;
  line-height: $mainLineHeight ;
}

.container{
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.lock{
  overflow: hidden;
}
