@import "../../assets/scss/vars";

.modalRegistration{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
  &__body{
    box-sizing: border-box;
    width: 304px;
    background-color: $whiteColor;
    padding: 36px;
    border-radius: 8px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    align-self: center;
    font-size: 28px;
    line-height: 33.18px;
    font-weight: 500;
    margin: 0 0 24px 0;
  }
  &__input{
    margin: 0 0 24px 0;
  }
  &__errors{
    min-height: 111px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primaryColor;
  }
  &__btn{
    align-self: center;
  }
}