@import "../../assets/scss/_vars.scss";

.footer{
  background-color: $lightColor;
  padding: 22px 0 25px;

  &__body{
    display: flex;
  }
  &__htcLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 0;

  }
  &__contacts{
    display: flex;
    flex-direction: column;
  }
  &__address{
    margin: 0 0 6px 0;
  }
  &__numbers{
    margin: 0 0 10px 0;
  }
  &__htcLink{
    text-decoration: none;
    font-weight: 500;
    color: rgba(31,71,102,1);
    width: max-content;
    &:visited{
      color: rgba(31,71,102,1);

    }
  }
}